        <div class="row">
            <div class="col-6">
                <input class="form-control p-3 bg-dark text-light border-0 mt-1" type="text" name="first_name" placeholder="first name" value="{{this.first_name}}">
            </div>
            <div class="col-6">
                <input class="form-control p-3 bg-dark text-light border-0 mt-1" type="text" name="last_name" placeholder="last name" value="{{this.last_name}}">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <input class="form-control p-3 bg-dark text-light border-0 mt-1" type="text" name="email" placeholder="email@email.com" value="{{this.email}}">
            </div>
            <div class="col-6 mt-3">
                <input class="form-control p-3 bg-dark text-light border-0 mt-1" type="text" name="phone" placeholder="phone number" value="{{this.phone}}">
            </div>
        </div>
        
        <div class="col-12 mt-3">
            <textarea class="form-control p-3 bg-dark text-light border-0 mt-1" type="text" name="comments" placeholder="comments" style="height:150px;">{{this.comments}}</textarea>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-secondary form-control">Submit</button>
        </div>