<div class="row d-flex">
    <h1 class="mb-3">User Info</h1>
        {{#each rows}}
        <div class="col m-3 py-3 px-1 card bg-danger">
            <h4>Name: </h4>{{this.first_name}}
        </div>
        <div class="col m-3 py-3 px-1 card bg-warning">
            <h4>Last Name: </h4>{{this.last_name}}
        </div>
        <div class="col m-3 py-3 px-1 card bg-success">
            <h4>Email: </h4>{{this.email}}
        </div>
        <div class="col m-3 py-3 px-1 card bg-primary">
            <h4>Phone Number: </h4>{{this.phone}}
        </div>
        <div class="col m-3 py-3 px-1 card bg-secondary">
            <h4>Comments: </h4>{{this.comments}}
        </div>
    {{/each}}
</div>